<br />
<div class="row"> 
<div class="large-4 small-12 columns">
<img src="../assets/bid-logo.png">
<div class="hide-for-small panel">
<h3>Header</h3>
<h5 class="subheader">BidFor.</h5>
</div><a href="#">
<div class="panel callout radius">
<h6>99&nbsp; items in your cart</h6>
</div></a>
</div> 

<div class="large-8 columns">
<div class="row">


<div class="large-4 small-6 columns">
<img src="../assets/camera.jpeg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Camera</h5>
<h6 class="subheader">$767.36</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/macbook.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>MacBook</h5>
<h6 class="subheader">$1699.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/bowl.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Salad-Bowl</h5>
<h6 class="subheader">$15.00</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/map.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>LA Map</h5>
<h6 class="subheader">$9.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/bowl.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Salad-Bowl</h5>
<h6 class="subheader">$15.00</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/camera.jpeg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>Camera</h5>
<h6 class="subheader">$767.36</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/macbook.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>MacBook</h5>
<h6 class="subheader">$1699.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/map.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>LA Map</h5>
<h6 class="subheader">$9.99</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/coffee-cup.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>coffee-cup</h5>
<h6 class="subheader">$15.00</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/camaro.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>2014 Chevi Camaro</h5>
<h6 class="subheader">$16500.00</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/coffee-cup.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>coffee-cup</h5>
<h6 class="subheader">$15.00</h6>
</div>
</div>
<div class="large-4 small-6 columns">
<img src="../assets/camaro.jpg" alt="nail_art_contest-2a" width="100%" height="auto">
<div class="panel">
<h5>2014 Chevi Camaro</h5>
<h6 class="subheader">$16500.00</h6>
</div>
</div>
</div>
</div>
 

</div>


<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../../assets/js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
    $(document).foundation();
  </script>
<script src="../assets/js/templates/jquery.js"></script>
<script src="../assets/js/templates/foundation.js"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
</body>