<h1>About BidFor</h1>
<p>How BidFor Auctions Work</p>

<p>On BidFor, which is open to anyone (individuals, retail businesses, liquidators, and government agencies alike), a seller offers an item at auction to the general public and pays a small fee to BidFor for the privilege of doing so.</p>

<p>After that, anyone is free to place a bid, or as many bids as they like up until the appointed time at which the auction ends. Once the auction ends, the item has been "won" by the highest bidder.</p>

<p>The winning bidder then pays the seller directly (not BidFor) for the item, and BidFor charges the seller a second feea percentage of the final value of the auctionas a commission.</p>

<p>Because anyone can bid for free, a worldwide audience of buyers is likely to keep bidding on any non-sketchy item offered by a decently-rated seller until it stops being worth their time to do so. Usually this happens once they can get it for the same or a lower price somewhere else, meaning that basic supply-and-demand market logic is at work.</p>

<ul>So on BidFor, the model is:

<li>Auctions end: At an appointed time, no exceptions</li>
<li>Auction site paid by: Seller</li>
<li>Winning bidder pays: Item seller</li>
<li>Per-bid charge to buyer: None</li>
<li>Time investment required by buyer: Enough to bid once using the proxy system (a few seconds total)</li>
<li>Auction site revenue based on: Commission on market-value item sales Fees earned by auction site for every auction: Small percentage of item value</li></ul>