

    
    <div class="row">
          <div class="medium- medium-6 columns">
    <div class="one-half">
        <div class="heading_bg"><h2>Contact Us:</h2></div>
          <p><strong>Bid For Anything:</strong><br />
          Los Angeles<br /><br />
          Tel: (+1) 650 575 0075<br />
          mail: mail@bidfor.com
          </p>
          
          <iframe width="465" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.no/maps?f=q&amp;source=s_q&amp;hl=no&amp;geocode=&amp;q=Hafstadvegen+35,+F%C3%B8rde&amp;aq=0&amp;oq=hafstadvegen+35&amp;sll=61.143235,9.09668&amp;sspn=17.454113,57.084961&amp;ie=UTF8&amp;hq=&amp;hnear=Hafstadvegen+35,+6800+F%C3%B8rde,+Sogn+og+Fjordane&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=61.450253,5.859145&amp;output=embed"></iframe><br /><small><a href="http://maps.google.no/maps?f=q&amp;source=embed&amp;hl=no&amp;geocode=&amp;q=Hafstadvegen+35,+F%C3%B8rde&amp;aq=0&amp;oq=hafstadvegen+35&amp;sll=61.143235,9.09668&amp;sspn=17.454113,57.084961&amp;ie=UTF8&amp;hq=&amp;hnear=Hafstadvegen+35,+6800+F%C3%B8rde,+Sogn+og+Fjordane&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=61.450253,5.859145" style="color:#0000FF;text-align:left">Enmedium Map</a></small>
    	</div>
    </div>
          <div class="medium- medium-6 columns">
    <div class="one-half last">
         <div class="heading_bg"><h2>Send Email</h2></div>

         <!-- Edit process_form.php to make the form work with your e-mail address. If you need to create more forms go to www.csstemplateheaven.com/tools/form_builder 
         IMPORTANT! Change action="#" to action="contact_form/process_form.php"
         -->
         <form action="#" class="TTWForm" method="post" novalidate="">
            
          <div id="field1-container" class="field f_50">
               <label for="field1">Name</label>
               <input name="name" id="field1" required="required" type="text">
          </div>
          
          
          <div id="field2-container" class="field f_50">
               <label for="field2">Telephone</label>
               <input name="tel" id="field2" required="required" type="text">
          </div>
          
          
          <div id="field5-container" class="field f_50">
               <label for="field5">Email</label>
               <input name="email" id="field5" required="required" type="email">
          </div>
          
          
          <div id="field4-container" class="field f_100">
               <label for="field4">Message</label>
               <textarea rows="5" cols="20" name="message" id="field4" required="required"></textarea>
          </div>
          
          
          <div id="form-submit" class="field f_100 clearfix submit">
               <input value="Submit" type="submit">
          </div>
     </form>
     </div>
     </div>
    <!--END form ID contact_form -->
   
    </div>

    <div style="clear:both; height: 40px"></div>



    
