

    
    <div class="row">
          <div class="medium- medium-6 columns">
    <div class="one-half">
        <div class="heading_bg"><h2>Contact Us:</h2></div>
          <p><strong>Bid For Anything:</strong><br />
          Los Angeles<br /><br />
          Tel: (+1) 650 575 0075<br />
          mail: mail@bidfor.com
          </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d845318.9652979481!2d-118.47754629511302!3d34.14564602057742!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b8cd326ba8dd%3A0xb4b9b696c59475de!2s837+N+Hudson+Ave%2C+Los+Angeles%2C+CA+90038!5e0!3m2!1sen!2sus!4v1414542394920" width="465" height="350" frameborder="2" style="border:2"></iframe>
          <br />
          <small><a href="https://www.google.no/maps/place/837+N+Hudson+Ave,+Los+Angeles,+CA+90038,+USA/@34.086528,-118.332392,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2b8cd326ba8dd:0xb4b9b696c59475de?hl=no" style="color:#0000FF;text-align:left">Enlarge-Map</a></small>
    	</div>
    </div>
          <div class="medium- medium-6 columns">
    <div class="one-half last">
         <div class="heading_bg"><h2>Send Email</h2></div>

         <!-- Edit process_form.php to make the form work with your e-mail address. If you need to create more forms go to www.csstemplateheaven.com/tools/form_builder 
         IMPORTANT! Change action="#" to action="contact_form/process_form.php"
         -->
         <form action="#" class="TTWForm" method="post" novalidate="">
            
          <div id="field1-container" class="field f_50">
               <label for="field1">Name</label>
               <input name="name" id="field1" required="required" type="text">
          </div>
          
          
          <div id="field2-container" class="field f_50">
               <label for="field2">Telephone</label>
               <input name="tel" id="field2" required="required" type="text">
          </div>
          
          
          <div id="field5-container" class="field f_50">
               <label for="field5">Email</label>
               <input name="email" id="field5" required="required" type="email">
          </div>
          
          
          <div id="field4-container" class="field f_100">
               <label for="field4">Message</label>
               <textarea rows="5" cols="20" name="message" id="field4" required="required"></textarea>
          </div>
          
          
          <div id="form-submit" class="field f_100 clearfix submit">
               <input value="Submit" type="submit">
          </div>
     </form>
     </div>
     </div>
    <!--END form ID contact_form -->
   
    </div>

    <div style="clear:both; height: 40px"></div>



    
