
<div  class="large-12 columns" style="background-color: #888888">
<div  class="row">
<!-- First Column -->

    <div class="large- medium-3 columns">
        <h3>Useful Links</h3>
            <ul class="footer_links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Ellem Ciet</a></li>
                <li><a href="#">Currivitas</a></li>
                <li><a href="#">Salim Aritu</a></li>
            </ul>
  </div>
<!-- Second Column -->
          <div class="large- medium-3 columns">  
        <h3>Terms</h3>
            <ul class="footer_links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Ellem Ciet</a></li>
                <li><a href="#">Currivitas</a></li>
                <li><a href="#">Salim Aritu</a></li>
            </ul>
   </div>
<!-- Third Column -->
          <div class="large- medium-3 columns">
        <h3>Information</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis.
        <div id="social_icons">
        Theme by <a href="http://www.csstemplateheaven.com">CssTemplateHeaven</a><br /> Photos © <a href="http://dieterschneider.net" title="Dieter Schneider Photography">Dieter Schneider</a>
        </div>
    </div>
<!-- Fourth Column -->
          <div class="large- medium-3 columns"> 
        <h3>Socialize</h3>
            <a href="https://www.facebook.com/"><img src="assets/icon_fb.png" alt="Facebook"></a>
            <a href="https://twitter.com/login"><img src="assets/icon_twitter.png" alt="twitter"></a>
            <a href="https://www.linkedin.com/"><img src="assets/icon_in.png" alt="linkdin"></a>
    </div>
    <div style="clear:both">  <p> Copyright ©2014 BidFor. All rights reserved.</p></div>
    </div> <!-- END footer -->
</div>



<!-- Toolbar Implementation Instructions:                                                                        --> 
<!-- This code may be placed in a global header or footer, or on each individual page if no global space exists. --> 
<!-- The toolbar will always display at the bottom of the page so placement in the source code will not matter.  --> 
 <script src="http://toolbar.contactatonce.com/ToolbarGenerator.aspx?Merchantid=256537&Providerid=10329" type="text/javascript"></script>
 <!--Site Visitor Tracking Script Begins Here                                                        -->  
 <!--The below script should be included in all site pages for which site visitor tracking is desired-->  
 <!--The script should be placed immediately before the close html tag.  -->
 <!--The script may be placed in a footer that is shared across the site.--> 


  <script type="text/javascript">document.write('<img style="display:none" src="http://context.contactatonce.com/MaintainContext.aspx?referrer=' + encodeURIComponent(document.referrer) + '" />');</script>  

      <!--Site Visitor Tracking Script Ends Here-->   
</div>
        <script type="text/javascript">
            jQuery(function($) {
                //
                //
                //
                    jQuery('#flexible-dealer-footer').flexsort({
                        allowSorting: false
                    });  
            });
        </script>          

<script type="text/javascript" src="http://video.dmotorworks.com/video/COBALT/rta.js"></script>
<script type="text/javascript" src="http://assets.cobaltnitra.com/websites/generated/bundles/80b3473aec78938b/7f73e58679fd455e/5hg/rfwdqrwnh1v-tnuoe6q==/bundle.js"></script>
<script type="text/javascript">

   jQuery(window).load(function() {
    var onLoadHandler = "onload=\"jQuery(window).trigger('backgroundCSSLoaded');\"";
    var link = "<link rel='stylesheet' type='text/css' " + onLoadHandler + " href='http://assets.cobaltnitra.com/websites/4.14.10.3-c830538/websitesEar/websitesWebApp/designs/Capella/features/backgrounds/none.css'  />";
    jQuery("head").append(link);
   });
                            

function LoadBackgroundCssRules(){
        var cssStyle = "<style type=\"text/css\">.bg-custom-image { background-image: url(features/backgrounds/none.png);}body.bg-custom-image.is-ie7 img.pageBackgroundFallback,body.bg-custom-image.is-ie8 img.pageBackgroundFallback{background-image: url(features/backgrounds/none.png);}</style>";
         jQuery("head").append(cssStyle);
        jQuery(window).trigger('backgroundCSSLoaded');
}
LazyLoader.call(function(){LoadBackgroundCssRules();});


jQuery(document).ready(function(){
  
  var browserversion = parseInt(jQuery.browser.version, 10),
    pageBody = jQuery("body");
      
  function exeBackgroundCssFallback(){
    var src,
      imgPageBackgroundFallback = jQuery("img.pageBackgroundFallback");
      pageBody.addClass("is-ie"+browserversion);
      src = imgPageBackgroundFallback.css("background-image");
      src = src.replace('url("','').replace('")','');
      imgPageBackgroundFallback.attr("src", src);
  }
  
  jQuery(window).one('backgroundCSSLoaded', function(e) {
    if(jQuery.browser.msie && browserversion < 9) {
      exeBackgroundCssFallback();
    }     
    });
    
    if(jQuery.browser.msie && browserversion < 9) {
    exeBackgroundCssFallback();
  }
});


(function() {
    var loadMap = function() {
        var props = {
          widgetId: 'Map_Tile1407422569',
          marker: 'http://assets.cobaltnitra.com/websites/widgetsv/4.14.10.3-c830690/widgets/Map%20Tile/pin.png', 
          zoomLevel:'$config.zoomLevel.value',
          mapType: '$config.mapType.value',
          currentTheme: 'layout',
          signedMapUrl : 'https://maps.googleapis.com/maps/api/staticmap?zoom=14&maptype=street&language=en&markers=31.086%2C-97.707&size=298x175&client=gme-cobalt&sensor=false&signature=4IcpETDKTTHjaTPWggs0jV_pbUY=',
           assetsPlaceHolder : 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='
    },
         map = new MapTileWidget(props);
        map.init();
        if(jQuery().resizableWidget) {jQuery('#Map_Tile1407422569 .map-widget').resizableWidget(['flex-width-4','flex-width-8'],['flex-height-2','flex-height-4']);}
    };

    if (typeof MapTileWidget !== 'function') {
        jQuery(window).one('MapTileWidgetLoaded', loadMap);
    } else {
        loadMap();
    }
}());

<!-- Button Search Area -->

