<div id="footer">
<hr>
<div  class="large-12 columns">
<div  class="row">
<!-- First Column -->

    <div class="large- medium-3 columns">
        <h3>Useful Links</h3>
            <ul class="footer_links">
                <li><a href="bids#index"> Classified</a></li>
                <li><a href="cars#index">Auto Bid</a></li>
                <li><a href="polls#index">Opinion Poll</a></li>
            </ul>
  </div>
<!-- Second Column -->
          <div class="large- medium-3 columns">  
        <h3>Info</h3>
            <ul class="footer_links">
                <li><a href="contactus#index">Contact Us</a></li>
                <li><a href="about#index">About Us</a></li>
                <li><a href="#">Free Stuff</a></li>
            </ul>
   </div>
<!-- Third Column -->
          <div class="large- medium-3 columns">
        <h3>Information</h3>
        BidFor.
        <div id="social_icons">
        Theme by <a href="http://www.bidfor.com">BidFor Team</a><br /> Photos © <a href="http://unsplash.com" title="Unsplash Photography">Unsplash.com</a>
        </div>
    </div>
<!-- Fourth Column -->
          <div class="large- medium-3 columns"> 
        <h3>Socialize</h3>
            <a href="https://www.facebook.com/"><img src="assets/icon_fb.png" alt="Facebook"></a>
            <a href="https://twitter.com/login"><img src="assets/icon_twitter.png" alt="twitter"></a>
            <a href="https://www.linkedin.com/"><img src="assets/icon_in.png" alt="linkdin"></a>
    </div>
    <div style="clear:both">  <p> Copyright ©2014 BidFor. All rights reserved.</p></div>
    </div> <!-- END footer -->
</div>
</div>

